*{
    font-family:Arial, sans-serif;
}
body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(to bottom,rgb(228, 228, 248) 20%,rgb(158, 158, 230)),rgba(115, 115, 228, 0.741);
    min-height:100vh;
}
.box{
    display:flex;
    justify-content: center;
    gap:50px;
}
.box1,
.box2,
.box3{
    text-align: center;
    width:40vh;
    height:80vh;
    border-radius: 10px;
    background: #fff;
    margin-top:100px;
    margin-bottom:100px;
    transition: transform 0.5s ease-in-out;
}
.box1:hover,
.box2:hover,
.box3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #2220208b;
}
.box2{
    height:85vh;
    margin-top:50px;
    color:#fff;
    background-color: rgba(39, 38, 38, 0.886);
}
.top{
    width:100%;
    height:40px;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.box h1{
    margin-top:35px;
    margin-bottom:40px;
}
.btn{
    
    width:150px;
    margin-top:80px;
    background: blue;
    padding:10px 0;
    margin:80px auto 0 auto;
    cursor:pointer;
    color:white;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(136, 136, 250);
}
